<div class="jumbotron jumbotron-fluid py-3">
  <div class="container">
    <h1 id="greeting" class="display-4">{{hello | titlecase}} {{selected.name}}</h1>
    <h2>{{age | titlecase}} : {{selected.age}}</h2>
    <h3>{{email | titlecase}} : {{selected.email}}</h3>
    <h4>{{condition | titlecase}} : {{selected.condition | titlecase}}</h4>
    <button id="logoutButton" routerLink="/login" type="button" class="btn btn-danger">{{logout | titlecase}}</button>
  </div>
</div>
<app-insurancetype *ngIf="!showInsurance"></app-insurancetype>
<div *ngIf="showInsurance" class="container py-2">
  <h2>{{insurance | titlecase}}</h2>
  <ul>
    <li *ngFor="let item of registeredInsurance">
      {{item}}
    </li>
  </ul>
</div>